.page a.urlextern,
.page a.interwiki,
.page a.windows,
.page a.mail,
.page a.media {
  padding-left: 0 !important;
  background: none !important;
}

#dokuwiki__usertools ul li a {
  color: #101010;
}

#dw__toc {
  font-size: 10px;
  line-height: 0px;
  width: 19em;
}

#dw__toc > h3 {
  font-size: 12px;
  font-weight: normal;
}

p {
  margin-bottom: 2px !important;
}

