.page a.urlextern,
.page a.interwiki,
.page a.windows,
.page a.mail,
.page a.media {
  padding-left: 0 !important;
  background: none !important;
}

#dokuwiki__header .tools ul li a {
    color: #101010;
}
